*{
    margin:0;
    padding:0;  
}

html{
    font-size:10px;
}

a{
    text-decoration: none;
    color:inherit;
}

.header, .footer
{
    width:1000px;
    height:50px;
    margin:20px auto;
    font-size:2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer
{
    font-size:1rem;
}

.body_wrap{
    width:1000px;
    margin:10px auto;
}

.card{
    display:flex;
    align-items: center;
    flex-direction: column;
}
.card>div.card-block{
    font-size:1.5rem;
}
.card>div.card-block>strong{
    font-size:2rem;
}
.card>div.card-block{
    font-size:1.5rem;
}

.body_title{
    margin-bottom: 30px;
}

.body_title strong{
    font-size:3rem;
}
.body_title p{
    margin-top:5px;
    font-size:1.4rem;
}

.list{
    width:100%;
    border-top: 2px solid #000;
}

.list >div{
    
    border-bottom: 1px solid #999;
    font-size:0;
}

.list >div.top{
    border-bottom: 1px solid #999;
}

.list >div:last-child{
    border-bottom: 1px solid #000;
}

.list >div>div{
    display:inline-block;
    text-align:center;
    font-size:1.4rem;
    padding: 15px 0;

}

.list .seq{
    width:10%;
}
.list .title{
    width:50%;
    text-align:left;
}
.list>div.top >div{
    font-weight:600;
}

.list .top .title{
    text-align:center;
}

.list .writer{
    width:20%;
}
.list .date{
    width:20%;
}


.list_page{
    margin-top:30px;
    text-align:center;
    font-size:0;
}

.list_page a{
    display:inline-block;
    width:32px;
    height:32px;
    box-sizing:border-box;
    vertical-align:middle;
    line-height:100%;
    border: 1px solid #ddd;
    border-left:0;
}

.list_page a.bt{
    font-size:1.2rem;
    padding-top:10px;
    letter-spacing: -1px;
}

.list_page a.num{
    font-size:1.4rem;
    padding-top:9px;
}


.list_page a:first-child{
    border-left:1px solid #ddd;
}

.list_page a.num.on{
    border-color:#000;
    background:#000;
    color:#fff;
}


.bt_wrap{
    margin-top:30px;
    text-align: center;
    font-size:0;
}

.bt_wrap button{
    display:inline-block;
    min-width:80px;
    margin-left:10px;
    padding:10px;
    border:1px solid #000;
    border-radius:2px;
    font-size:1.4rem;
}




.content_view{
    width:100%;
    border-top:2px solid #000;
    font-size:1.4rem;
}
.content_view .title{
    padding:30px 15px;
    border-bottom:1px dashed #ddd;
    font-size:2rem;
}
.content_view .info{
    padding:15px;
    border-bottom:1px solid #999;
    font-size:0;
}

.content_view .info > dl{
    position:relative;
    display:inline-block;
    padding: 0 20px;
}

.content_view .info > dl:first-child{
    padding-left: 0;
}


.content_view .info dl::before{
    content:"";
    position:absolute;
    top:1px;
    left:0;
    display:block;
    width:1px;
    height:13px;
    background:#ddd;
}

.content_view .info dl:first-child::before{
    display:none;
}


.content_view .info > dl>dt,
.content_view .info > dl>dd{
    display:inline-block;
    font-size:1.4rem;
}

.content_view .info > dl>dt{
    
}

.content_view .info > dl>dd{
   margin-left:10px;
   color:#777;
}


.content_view .cont{
    padding:15px;
    border-bottom:1px solid #000;
    line-height:160%;
    font-size:1.4rem;
 }

 form{
     display:flex;
     align-items: center;
     flex-direction: column;
 }

form>label{
     font-size:3rem;
 }
 form>input{
     margin-bottom:20px;
 }

 form>p{
     margin-top:20px;
     font-size:1.5rem;
 }

form>p>a{
    color:red;
    font-style:italic;
}